In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Loan Data cleaned.csv')

In [3]:
for i in data.select_dtypes('object'):
    data[i]=data[i].astype('category')

In [4]:
data['Term']=data['Term'].astype('category')
data['Years in current job']=data['Years in current job'].astype('category')
data['Tax Liens']=data['Tax Liens'].astype('category')
data['Bankruptcies']=data['Bankruptcies'].astype('category')
data['Number of Credit Problems']=data['Number of Credit Problems'].astype('category')

In [5]:
data_dummies=pd.get_dummies(columns=list(data.select_dtypes('category')),data=data,dummy_na=True)

In [6]:
data_dummies

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Current Credit Balance,Maximum Open Credit,...,Tax Liens_4.0,Tax Liens_5.0,Tax Liens_6.0,Tax Liens_7.0,Tax Liens_8.0,Tax Liens_9.0,Tax Liens_10.0,Tax Liens_11.0,Tax Liens_15.0,Tax Liens_nan
0,1,12232.0,NaN,46643.0,777.39,18.0,10.0,12,6762,7946.0,...,0,0,0,0,0,0,0,0,0,0
1,1,25014.0,NaN,81099.0,892.09,26.7,NaN,14,35706,77961.0,...,0,0,0,0,0,0,0,0,0,0
2,1,16117.0,NaN,60438.0,1244.02,16.7,32.0,11,11275,14815.0,...,0,0,0,0,0,0,0,0,0,0
3,1,11716.0,NaN,34171.0,990.94,10.0,NaN,21,7009,43533.0,...,0,0,0,0,0,0,0,0,0,0
4,1,9789.0,NaN,47003.0,503.71,16.7,25.0,13,16913,19553.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88905,0,10136.0,728.0,35476.0,567.62,21.2,14.0,14,15914,28265.0,...,0,0,0,0,0,0,0,0,0,0
88906,0,29610.0,710.0,123375.0,2508.63,15.0,16.0,11,17727,32766.0,...,0,0,0,0,0,0,0,0,0,0
88907,0,24394.0,746.0,71148.0,818.20,36.4,9.0,8,44728,53374.0,...,0,0,0,0,0,0,0,0,0,0
88908,1,5030.0,722.0,25424.0,360.17,19.0,7.0,12,6374,18422.0,...,0,0,0,0,0,0,0,0,0,0
88909,0,18446.0,718.0,44066.0,749.13,10.7,NaN,18,6718,21124.0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#data_dummies=pd.get_dummies(columns=['Months since last delinquent'],data=data_dummies,dummy_na=True)

In [8]:
data_dummies

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Current Credit Balance,Maximum Open Credit,...,Tax Liens_4.0,Tax Liens_5.0,Tax Liens_6.0,Tax Liens_7.0,Tax Liens_8.0,Tax Liens_9.0,Tax Liens_10.0,Tax Liens_11.0,Tax Liens_15.0,Tax Liens_nan
0,1,12232.0,NaN,46643.0,777.39,18.0,10.0,12,6762,7946.0,...,0,0,0,0,0,0,0,0,0,0
1,1,25014.0,NaN,81099.0,892.09,26.7,NaN,14,35706,77961.0,...,0,0,0,0,0,0,0,0,0,0
2,1,16117.0,NaN,60438.0,1244.02,16.7,32.0,11,11275,14815.0,...,0,0,0,0,0,0,0,0,0,0
3,1,11716.0,NaN,34171.0,990.94,10.0,NaN,21,7009,43533.0,...,0,0,0,0,0,0,0,0,0,0
4,1,9789.0,NaN,47003.0,503.71,16.7,25.0,13,16913,19553.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88905,0,10136.0,728.0,35476.0,567.62,21.2,14.0,14,15914,28265.0,...,0,0,0,0,0,0,0,0,0,0
88906,0,29610.0,710.0,123375.0,2508.63,15.0,16.0,11,17727,32766.0,...,0,0,0,0,0,0,0,0,0,0
88907,0,24394.0,746.0,71148.0,818.20,36.4,9.0,8,44728,53374.0,...,0,0,0,0,0,0,0,0,0,0
88908,1,5030.0,722.0,25424.0,360.17,19.0,7.0,12,6374,18422.0,...,0,0,0,0,0,0,0,0,0,0
88909,0,18446.0,718.0,44066.0,749.13,10.7,NaN,18,6718,21124.0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#testing with simple imputer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split as tts

In [10]:
data_train,data_valid=tts(data,test_size=0.2,stratify=data['Loan Status'],random_state=365)

In [11]:
data_train_cat=data_train.select_dtypes('category')
data_valid_cat=data_valid.select_dtypes('category')

In [12]:
#conditional imputing
data_train_cat['Loan Status']=data_train['Loan Status']

In [13]:
data_train_cat0=pd.DataFrame(SimpleImputer(strategy='most_frequent').fit_transform(data_train_cat.loc[data_train_cat['Loan Status']==0]),columns=data_train_cat.columns)
data_train_cat1=pd.DataFrame(SimpleImputer(strategy='most_frequent').fit_transform(data_train_cat.loc[data_train_cat['Loan Status']==1]),columns=data_train_cat.columns)

In [14]:
data_train_cat_imputed=pd.concat([data_train_cat0,data_train_cat1],axis=0)

In [15]:
data_train_cat_imputed

,Term,Years in current job,Home Ownership,Purpose,Number of Credit Problems,Bankruptcies,Tax Liens,Loan Status
0,0,10.0,Rent,Debt Consolidation,1,1.0,0.0,0
1,0,10.0,Home Mortgage,Debt Consolidation,0,0.0,0.0,0
2,0,4.0,Rent,Debt Consolidation,0,0.0,0.0,0
3,0,1.0,Home Mortgage,Debt Consolidation,0,0.0,0.0,0
4,0,6.0,Home Mortgage,Debt Consolidation,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...
20133,0,2.0,Own Home,Debt Consolidation,0,0.0,0.0,1
20134,0,10.0,Home Mortgage,Debt Consolidation,0,0.0,0.0,1
20135,0,8.0,Home Mortgage,Debt Consolidation,0,0.0,0.0,1
20136,0,10.0,Rent,Debt Consolidation,0,0.0,0.0,1
20137,1,5.0,Home Mortgage,other,0,0.0,0.0,1

In [16]:
data_train_num=data_train.select_dtypes('number')
data_valid_num=data_valid.select_dtypes('number')

In [17]:
data_train_num0=pd.DataFrame(SimpleImputer(strategy='median').fit_transform(data_train_num.loc[data_train_num['Loan Status']==0]),columns=data_train_num.columns)
data_train_num1=pd.DataFrame(SimpleImputer(strategy='median').fit_transform(data_train_num.loc[data_train_num['Loan Status']==1]),columns=data_train_num.columns)

In [18]:
data_train_num_imputed=pd.concat([data_train_num0,data_train_num1],axis=0)

In [19]:
data_simple_imputed0=pd.concat([data_train_num_imputed,data_train_cat_imputed.drop('Loan Status',axis=1)],axis=1)

In [20]:
data_train_mean0=pd.DataFrame(SimpleImputer(strategy='mean').fit_transform(data_train_num.loc[data_train_num['Loan Status']==0]),columns=data_train_num.columns)
data_train_mean1=pd.DataFrame(SimpleImputer(strategy='mean').fit_transform(data_train_num.loc[data_train_num['Loan Status']==1]),columns=data_train_num.columns)

In [21]:
data_train_mean_imputed=pd.concat([data_train_mean0,data_train_mean1],axis=0)

In [22]:
data_simple_imputed1=pd.concat([data_train_mean_imputed,data_train_cat_imputed.drop('Loan Status',axis=1)],axis=1)

In [23]:
#conditional mean median imputed data for training
data_simple_imputed0.to_csv('Training data(conditional median).csv',index=False)
data_simple_imputed1.to_csv('Training data(conditional mean).csv',index=False)

In [24]:
data_train_num01=pd.DataFrame(SimpleImputer(strategy='median').fit_transform(data_train_num),columns=data_train_num.columns)
data_train_cat01=pd.DataFrame(SimpleImputer(strategy='most_frequent').fit_transform(data_train_cat),columns=data_train_cat.columns)
data_train_mean01=pd.DataFrame(SimpleImputer(strategy='mean').fit_transform(data_train_num),columns=data_train_num.columns)

In [25]:
data_simple_imputed2=pd.concat([data_train_num01,data_train_cat01.drop('Loan Status',axis=1)],axis=1)
data_simple_imputed3=pd.concat([data_train_mean01,data_train_cat01.drop('Loan Status',axis=1)],axis=1)

In [28]:
data_simple_imputed2.to_csv('Training data(median).csv',index=False)
data_simple_imputed3.to_csv('Training data(mean).csv',index=False)

In [29]:
data_train

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
82634,1,15294.0,0,747.0,9.0,Home Mortgage,76470.0,Debt Consolidation,788.28,19.2,NaN,20,0,42776,92590.0,0.0,0.0
38549,0,8265.0,0,NaN,10.0,Rent,NaN,Debt Consolidation,785.74,13.8,81.0,12,1,8600,11317.0,1.0,0.0
85750,0,11970.0,0,747.0,10.0,Home Mortgage,119700.0,Debt Consolidation,671.32,25.5,NaN,5,0,22222,39612.0,0.0,0.0
14914,0,NaN,0,741.0,4.0,Rent,76206.0,Debt Consolidation,1149.44,18.6,NaN,16,0,10885,11141.0,0.0,0.0
48311,1,5042.0,0,724.0,2.0,Rent,47894.0,Debt Consolidation,786.26,13.4,27.0,14,0,9703,19883.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51732,1,6989.0,0,651.0,NaN,Rent,30279.0,Debt Consolidation,772.11,17.8,NaN,10,0,3178,8878.0,0.0,0.0
80440,0,11864.0,0,737.0,3.0,Rent,69209.0,Debt Consolidation,1211.16,15.4,9.0,16,0,4807,11179.0,0.0,0.0
85665,0,12325.0,1,641.0,0.0,Rent,34237.0,Debt Consolidation,359.49,12.0,NaN,11,0,12646,27794.0,0.0,0.0
8696,0,NaN,0,734.0,10.0,Rent,34823.0,Debt Consolidation,452.70,13.6,NaN,21,0,13705,16692.0,0.0,0.0
1135,1,14196.0,1,NaN,5.0,Home Mortgage,55205.0,other,830.83,19.6,NaN,7,0,2429,15471.0,0.0,0.0

In [30]:
data_simple_imputed2

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Current Credit Balance,Maximum Open Credit,Term,Years in current job,Home Ownership,Purpose,Number of Credit Problems,Bankruptcies,Tax Liens
0,1.0,15294.0,747.0,76470.0,788.28,19.2,32.0,20.0,42776.0,92590.0,0,9.0,Home Mortgage,Debt Consolidation,0,0.0,0.0
1,0.0,8265.0,731.0,61485.0,785.74,13.8,81.0,12.0,8600.0,11317.0,0,10.0,Rent,Debt Consolidation,1,1.0,0.0
2,0.0,11970.0,747.0,119700.0,671.32,25.5,32.0,5.0,22222.0,39612.0,0,10.0,Home Mortgage,Debt Consolidation,0,0.0,0.0
3,0.0,12052.5,741.0,76206.0,1149.44,18.6,32.0,16.0,10885.0,11141.0,0,4.0,Rent,Debt Consolidation,0,0.0,0.0
4,1.0,5042.0,724.0,47894.0,786.26,13.4,27.0,14.0,9703.0,19883.0,0,2.0,Rent,Debt Consolidation,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71123,1.0,6989.0,651.0,30279.0,772.11,17.8,32.0,10.0,3178.0,8878.0,0,10.0,Rent,Debt Consolidation,0,0.0,0.0
71124,0.0,11864.0,737.0,69209.0,1211.16,15.4,9.0,16.0,4807.0,11179.0,0,3.0,Rent,Debt Consolidation,0,0.0,0.0
71125,0.0,12325.0,641.0,34237.0,359.49,12.0,32.0,11.0,12646.0,27794.0,1,0.0,Rent,Debt Consolidation,0,0.0,0.0
71126,0.0,12052.5,734.0,34823.0,452.70,13.6,32.0,21.0,13705.0,16692.0,0,10.0,Rent,Debt Consolidation,0,0.0,0.0
71127,1.0,14196.0,731.0,55205.0,830.83,19.6,32.0,7.0,2429.0,15471.0,1,5.0,Home Mortgage,other,0,0.0,0.0

In [26]:
data_valid_num01=pd.DataFrame(SimpleImputer(strategy='median').fit_transform(data_valid_num),columns=data_valid_num.columns)
data_valid_mean01=pd.DataFrame(SimpleImputer(strategy='mean').fit_transform(data_valid_num),columns=data_valid_num.columns)
data_valid_cat01=pd.DataFrame(SimpleImputer(strategy='most_frequent').fit_transform(data_valid_cat),columns=data_valid_cat.columns)

In [32]:
data_simple_imputed_valid0=pd.concat([data_valid_num01,data_valid_cat01],axis=1)

In [33]:
data_simple_imputed_valid1=pd.concat([data_valid_mean01,data_valid_cat01],axis=1)

In [34]:
data_simple_imputed_valid0.to_csv('Validation set(median).csv',index=False)
data_simple_imputed_valid1.to_csv('Validation set(mean).csv',index=False)

In [36]:
from sklearn.impute import KNNImputer
data_train_knn=pd.DataFrame(KNNImputer().fit_transform(data_train_num),columns=data_train_num.columns)
data_valid_knn=pd.DataFrame(KNNImputer().fit_transform(data_valid_num),columns=data_valid_num.columns)

In [37]:
data_knn_imputed_valid0=pd.concat([data_valid_knn,data_valid_cat01],axis=1)
data_knn_imputed=pd.concat([data_train_knn,data_train_cat01.drop('Loan Status',axis=1)],axis=1)

In [38]:
data_knn_imputed.to_csv('knn imputed train set.csv',index=False)
data_knn_imputed_valid0.to_csv('knn imputed valid set.csv',index=False)

In [45]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
data_train_iter=pd.DataFrame(IterativeImputer().fit_transform(X=data_train_num,y=data_train_num['Loan Status']),columns=data_train_num.columns)
#data_train_iter['Loan Status']=data_train_num['Loan Status']
data_valid_iter=pd.DataFrame(IterativeImputer().fit_transform(X=data_valid_num,y=data_train_num['Loan Status']),columns=data_valid_num.columns)
#data_valid_iter['Loan Status']=data_valid_num['Loan Status']

In [46]:
data_iter_imputed_valid0=pd.concat([data_valid_iter,data_valid_cat01],axis=1)
data_iter_imputed=pd.concat([data_train_iter,data_train_cat01.drop('Loan Status',axis=1)],axis=1)

In [47]:
data_iter_imputed.to_csv('iter imputed train set.csv',index=False)
data_iter_imputed_valid0.to_csv('iter imputed valid set.csv',index=False)

In [48]:
data_train_iter

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Current Credit Balance,Maximum Open Credit
0,1.0,15294.000000,747.00000,76470.000000,788.28,19.2,34.199471,20.0,42776.0,92590.0
1,0.0,8265.000000,731.44562,42853.020775,785.74,13.8,81.000000,12.0,8600.0,11317.0
2,0.0,11970.000000,747.00000,119700.000000,671.32,25.5,33.772367,5.0,22222.0,39612.0
3,0.0,9995.142903,741.00000,76206.000000,1149.44,18.6,37.841691,16.0,10885.0,11141.0
4,1.0,5042.000000,724.00000,47894.000000,786.26,13.4,27.000000,14.0,9703.0,19883.0
...,...,...,...,...,...,...,...,...,...,...
71123,1.0,6989.000000,651.00000,30279.000000,772.11,17.8,28.693494,10.0,3178.0,8878.0
71124,0.0,11864.000000,737.00000,69209.000000,1211.16,15.4,9.000000,16.0,4807.0,11179.0
71125,0.0,12325.000000,641.00000,34237.000000,359.49,12.0,28.057884,11.0,12646.0,27794.0
71126,0.0,7095.901348,734.00000,34823.000000,452.70,13.6,38.659127,21.0,13705.0,16692.0
71127,1.0,14196.000000,713.54389,55205.000000,830.83,19.6,35.631562,7.0,2429.0,15471.0

In [49]:
data_train_num

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Current Credit Balance,Maximum Open Credit
82634,1,15294.0,747.0,76470.0,788.28,19.2,NaN,20,42776,92590.0
38549,0,8265.0,NaN,NaN,785.74,13.8,81.0,12,8600,11317.0
85750,0,11970.0,747.0,119700.0,671.32,25.5,NaN,5,22222,39612.0
14914,0,NaN,741.0,76206.0,1149.44,18.6,NaN,16,10885,11141.0
48311,1,5042.0,724.0,47894.0,786.26,13.4,27.0,14,9703,19883.0
...,...,...,...,...,...,...,...,...,...,...
51732,1,6989.0,651.0,30279.0,772.11,17.8,NaN,10,3178,8878.0
80440,0,11864.0,737.0,69209.0,1211.16,15.4,9.0,16,4807,11179.0
85665,0,12325.0,641.0,34237.0,359.49,12.0,NaN,11,12646,27794.0
8696,0,NaN,734.0,34823.0,452.70,13.6,NaN,21,13705,16692.0
1135,1,14196.0,NaN,55205.0,830.83,19.6,NaN,7,2429,15471.0